In [1]:
a=[1,2,3,4,5]

In [2]:
合計＝順番に足した結果

SyntaxError: invalid character in identifier (<ipython-input-2-960e916dc94b>, line 1)

In [6]:
s=0

s=s+1
s=s+2
s=s+3
s=s+4
s=s+5

s

15

In [7]:
a=[1,2,3,4,5]

for p in a:
    print(p)

1
2
3
4
5

リストaの各要素をpと呼び　pをprintする　スペースがある範囲が有効

In [13]:
s=0

for x in a:
    s = s + x
    
s

15

In [27]:
list_tohoku = [5349, 5478, 5344, 4644, 4968, 6259]
for val in list_tohoku:
    print(val)

5349
5478
5344
4644
4968
6259

91コピペする

In [29]:
avg_tohoku = 0.0
for val in list_tohoku:
　　avg_tohoku += val
    avg_tohoku /= len(list_tohoku)
print(avg_tohoku)

SyntaxError: invalid character in identifier (<ipython-input-29-cff9edc2daf8>, line 3)

92

In [17]:
s=0

for x in a:
    s = s + x
    
s/=len

15

In [18]:
list_shikoku = [3148, 2991, 2966, 2457]

In [19]:
s=0.0
for val in list_tohoku:
    s+=val
    s/=len(list_tohoku)
    print(s)

NameError: name 'list_tohoku' is not defined

In [ ]:
94 key

In [20]:
(3148+2991+2966+2457)/4

2890.5

93

In [21]:
list_shikoku=[3148,2991,2966,2457]

s=0
for x in list_shikoku:
    s+=x
    
s/len(list_shikoku)

2890.5

In [23]:
from statistics import*

In [24]:
mean(list_shikoku)

2890.5

In [26]:
mean([1,2,3,4,5])

3

94 95とばし mean は平均

In [30]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,
'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}

In [31]:
dic={'A':100,'B':20,'C':3000}

In [40]:
dic{'A'}

SyntaxError: invalid syntax (<ipython-input-40-8e5b34118087>, line 1)

96keyにすると東北になる答え100

In [37]:
for key in dic:
    print(key)

A

In [43]:
for key in dict_tohoku:　print(dict_tohoku[key])

SyntaxError: invalid character in identifier (<ipython-input-43-a5d03f9e7d91>, line 1)

東北と番号が交互になる96

In [ ]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,
'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}

In [49]:
s=0

for x in dict_tohoku:
    print(dict_tohoku[x])
    s += dict_tohoku[x]
    
s/len(dict_tohoku)

5349
4644
5344
4968
6259
5478

5340.333333333333

1.[5,4,3,2]の平均
{'A':10,'B'100,'C':1000}の値の平均
3.{10:'A',100:'B',1000:'C'}

In [50]:
3.5

3.5

In [51]:
370

370

In [52]:
smean(a.values)　370
99番

NameError: name 'smean' is not defined

In [ ]:
a={10:'A',100:'B'}
この場合ヴぁぅは使えない